<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My portfolio</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-faded justify-content-between flex-nowrap flex-row">
      <div class="container-fluid">
          <a href="/" class="navbar-brand float-left">My portfolio</a>
          <ul class="nav navbar-nav flex-row float-right">
              <li class="nav-item"><a class="nav-link pr-3" href="">My projects</a></li>
              <li class="nav-item"><a class="nav-link" href="">About me</a></li>
          </ul>
      </div>
    </nav>
  
  <div class="container">
     <div class="row">
       <div class="col-lg-8  text-right">
           <div class="position-absolute text-left">
             <h1>Test test </h1>
             <h3>Age : 23 ans</h3>
             <h3>Local : Fes Morocco </h3>
             <h3>Tel : 0671300616</h3>
           </div>
           <img src="/images/person.svg"  class="img-fluid w-50" alt="">
         
         
       </div>
       <div class="col-lg-4 mt-2">
           <div class="card bg-gray" >
             <p style="color: gray;">-Introduction</p>
             <h5 class="card-title">
               Python, Django Developer , Data Science and PhD Student in Deep Learning 
             </h5>
             <div class="card-content">
               <p style="color: gray;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sequi accusantium a illum animi amet odit consequuntur debitis neque, quasi voluptatem inventore explicabo esse aliquam impedit soluta quas laborum architecto.
              </p>
             </div>
         
             
           </div>
         
         
       </div>
     </div>
     <div class="row ">
       <div class="col-lg-4 mt-2">
         <div class="card bg-gray text-center">
            <h3>Full stuck Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
         </div>
       </div>
       <div class="col-lg-4 mt-2">
         <div class="card bg-gray text-center">
            <h3>Data Science</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
         </div>
       </div>
       <div class="col-lg-4 mt-2">
          <div class="card bg-gray text-center">
              <h3>Web Developpemnt </h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
           
         </div>
        </div>
     </div>
     <div class="row">
       <div class="col-12 mt-2">
          <button type="button" class="collapsible">2019  <span class="plus"  >+</span> <span class="moins" >-</span></button>
          <div class="content">
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              </li>
              <li>Sequi, quod deserunt? Quo aliquid, quis nemo fugit nisi </li>
              <li>
                  quia tempora dolore magni possimus vitae, blanditiis necessitatibus delectus quisquam rem. Molestiae, natus.
              </li>
            </ul>
          </div>

       </div>
       <div class="col-12 mt-2">
          <button type="button" class="collapsible">2019  <span class="plus"  >+</span> <span class="moins" >-</span> </button>
          <div class="content">
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              </li>
              <li>Sequi, quod deserunt? Quo aliquid, quis nemo fugit nisi </li>
              <li>
                  quia tempora dolore magni possimus vitae, blanditiis necessitatibus delectus quisquam rem. Molestiae, natus.
              </li>
            </ul>
          </div>

       </div>
       <div class="col-12 mt-2">
          <button type="button" class="collapsible">2019 <span class="plus"  >+</span> <span class="moins" >-</span></button>
          <div class="content">
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              </li>
              <li>Sequi, quod deserunt? Quo aliquid, quis nemo fugit nisi </li>
              <li>
                  quia tempora dolore magni possimus vitae, blanditiis necessitatibus delectus quisquam rem. Molestiae, natus.
              </li>
            </ul>
          </div>

       </div>
     </div>
     <div class="row">
       <div class="col-lg-6 mt-2">
         <div class="card bg-gray">
            <canvas id="myChart" height="300"></canvas>
         </div>
       </div>
       <div class="col-lg-6 mt-2">
         <div class="card bg-gray">
            <canvas id="myChart2" height="300"></canvas>
         </div>
       </div>
     </div>
     
  </div>
  <br>
  <br>
  <div class="footer mt-2">
    <div class="container-fluid ">
      <div class="row mt-2">
        <div class="col">
          My portfolio
        </div>
        <div class="col">
          <ul>
            <li>
              <a href="">My projects</a>
            </li>
            <li>
              <a href="">My services</a>
            </li>
          </ul>
        </div>
        <div class="col">

        </div>
      </div>

    </div>

  </div>

  <script src="/js/main.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
    Chart.defaults.global.defaultFontColor = '#fff';
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>